.navbar-container {
    overflow: hidden;
    z-index: 2;
    position: relative;
    top: 0  ;
    width: 100%;
    background: linear-gradient(to left, white 0%, #009933 200%);
    color: black;
    box-shadow: 0px 2px 4px black;
}
.navbar-title-container {
    display: flex;
    padding: 10px;
}
.navbar-button-container {
    position:relative;
    display: flex;
    justify-content: space-between;
    opacity: 80%;
}
.navbar-button-container .button{
    opacity: 100%;
    width: 100%;
    text-decoration: none;
    background: linear-gradient(to bottom, white 0%, #009933 200%);
    color: black;
    text-align: center;
    margin:0px 0px 3px 10px;
    border: 1px solid #000023;
    transition: transform 250ms;
}
.navbar-button-container .button:last-child{
    margin-right: 10px;
}
.navbar-button-container .button:hover {
    z-index: 5;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px black;
}
.main-container {
    position:fixed;
    overflow: scroll;
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
}
.log-toolbar {
    margin: 15px;
    display: flex;
    justify-content: flex-end;
}
.log-toolbar h1 {
    margin: auto;
}
.log-tool {
    margin: 10px;
}
.log-container {
    display:flex;
    flex-direction: column;
    background-color: white;
    height: 80%;
    color: black;
    margin: 0;
    text-align: center;
    overflow: scroll;
}
.log-header {
    height: 75px;
    display: flex;
    flex-direction: row;
    border: 1px solid black  ;
    margin: 10px;
}
.log-card {
    height: 75px;
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 0px 0px 5px black;
    margin: 10px;
}
.log-card:hover {
    box-shadow: 0px 0px 15px black;
}

.cell {
    padding: 15px;
    position: relative;
    width: calc(20%);
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}
